apiVersion: kubescape.io/v1
kind: Rules
metadata:
  name: read-environment-variables-procfs-rule
  namespace: kubescape
  labels:
    app: kubescape
spec:
  rules:
    - name: "Read Environment Variables from procfs"
      enabled: true
      id: "R0008"
      description: "Detecting reading environment variables from procfs."
      expressions:
        message: "'Reading environment variables from procfs: ' + event.path + ' by process ' + event.comm"
        uniqueId: "event.comm + '_' + event.path"
        ruleExpression:
          - eventType: "open"
            expression: >
              event.path.startsWith('/proc/') && 
              event.path.endsWith('/environ') &&
              !ap.was_path_opened_with_suffix(event.containerId, '/environ')
      profileDependency: 0 # Required
      severity: 5 # Medium
      supportPolicy: false
      isTriggerAlert: true
      mitreTactic: "TA0006"
      mitreTechnique: "T1552.001"
      tags:
        - "anomaly"
        - "procfs"
        - "environment"
        - "applicationprofile"
